header {
    background-color: $colorPrincipal;
    @include header;
    a {
        .header__logo {
            width: 90px;
            margin: 5px;
        }
    }

    ul {
        display: flex;

        li {
            color: #2D2E2E;
            margin: 0px 20px 5px;
            list-style: none;
            font-size: 17px;
            font-weight: 500;
            font-family: 'Courier New', Courier, monospace;
        }

        li:hover {
            font-weight: 900;
        }
    }
}

main{
    background-color: $colormain;
    overflow: hidden;
    min-width: 85vw;
    .main__banner{
        @extend %banner;
    }
    .main__breadcrumb{
        margin: 30px;
        color: $colorSecundario;
        list-style: none;
        font-family: monospace;
    }
    .main__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 25px 150px 40px;
    }
    .main__titulo{
        color: #FBFBFB;
        font-size: 32px;
    }
    .main__txt{
        @extend %estiloParrafo;
        color: #B8DBD9;
        margin-top: 30px;
    }
    .main__container2{
        @include parrafoEstilo;

        h2{
            color: #FBFBFB;
            margin: 0px 0px 10px;
            font-size: 20px;
        }
        .ti{
            padding: 8px;
            background-color: #2D2E2E;
            margin-left: 180px;
            margin-right: 180px;
            border-radius: 50%;
        }
        p{
            color: #B8DBD9;
            font-size: large;
            margin-bottom: 20px;
        }
        .main__titulo2{
            margin-bottom: 20px;
        }
        a{
            margin-bottom: 15px;

        }
        h6{
            margin-bottom: 8px;
            color: #B8DBD9;
            font-size: small;
            background-color: #2D2E2E;
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .footer__logo{
        width: 90px;
        margin: 10px 0px 5px;
    }
    ul{
        display: flex;
    }
    li{
        margin: 10px 30px 10px;
        list-style: none;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Courier New', Courier, monospace;
        &:hover{
            font-weight: 900;
        }
    }
}